/* back-colors */

.green-back {
	background-color: #A5CE00;
}

.brown-back {
	background-color: #BC7D3A;
}

.blue-back {
<<<<<<< HEAD
	background-color: #346a90;
=======
	background-color: #346A90;
>>>>>>> 6d58c588cbb63578e91d1bea7937723dd38aa579
}

.pink-back {
	background-color: #E6B797;
}

.orange-back {
	background-color: #F48D33;
}

/* fonts */

.white-font {
	color: white;
}

.bold-font {
	font-weight: bold;
}

/* Opacity */

.opacity-menu {
	opacity: 0.8;
}