/* back-colors */

.green-back {
	background-color: #A5CE00;
}

.brown-back {
	background-color: #BC7D3A;
}

.blue-back {
	background-color: #346A90;
}

.pink-back {
	background-color: #E6B797;
}

.orange-back {
	background-color: #F48D33;
}

/* fonts */

.white-font {
	color: white;
}

.bold-font {
	font-weight: bold;
}

/* Opacity */

.opacity-menu {
	opacity: 0.8;
}