/* back-colors */

.green-back {
	background-color: #A5CE00;
}

.brown-back {
	background-color: #BC7D3A;
}

.blue-back {
	background-color: #346A90;
}

.pink-back {
	background-color: #E6B797;
}

.orange-back {
	background-color: #F48D33;
}


/* fonts */

.white-font {
	color: white !important;
}

.bold-font {
	font-weight: bold;
}

.blue-font {
	color: #346A90;
}

/* Opacity */

.opacity-menu {
	opacity: 0.8;
}

.card1 {
	box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card1:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container, .container-fluid {
    font-family: 'Neucha', cursive;
}
.navbar , h2 {
    font-family: 'Love Ya Like A Sister', cursive;
}

.link-home:hover {
	color: #A5CE00 !important;
}

.titre-color-blue {
	color: #346A90;
}

.logo-wild {
	font-size: 1.3em;
}

.promo{
	font-size: 2.500em;
	color: black;
}

h3{
	color: black;

	font-size: 3.125em;
}

/* margin top entre categories */

.margin{
	margin-top: 250px;
}

/* margin entre image et nom categorie */

.margin-cate{
	margin-top: 25px;
}

/* effet grossissant categorie */

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


/* CAT-CATS */

.link-cat:hover {
	color: #346A90;
}

.text-cat {
	color: #F48D33;
	text-shadow: 1px 2px 2px black;
	height: 1em;
	font-size: 5em;
	padding: 0.8em 0 1.4em 0;
}
.text-btndrop {
	color: white;
}

.text-btndrop:hover {
	color:#346A90;
}

.blue-back-menu {
	background-color: #346A90;
	opacity: 0.8;
}

.card-img-cat {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#footer-cat {
	margin-top: 8em;
}

.card-title-cat {
	font-size: calc(1rem + 4vw);
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px black;
	opacity: 0.8;

}


.price {
	font-weight: bold;
	font-size: 1.8em;
}

.link-cat:hover {
	color: #346A90 !important;
}

/* CAT-FISHES */

.text-fish {
	color: #346A90;
	text-shadow: 1px 2px 2px black;
	height: 1em;
	font-size: 5em;
	padding: 0.8em 0 1.4em 0;
}


.blue-back-menu {
	background-color: #346A90;
	opacity: 0.8;
}

.card-title-fish {
	font-size: calc(1rem + 4vw);
	font-weight: bold;
	color: whitek;
	text-shadow: 2px 2px 2px black;
	opacity: 0.8;

}
.link-fish:hover {
	color: #F48D33 !important;
}


/* CAT-RODENTS */

.text-rodents {
	color: #E6B797;
	text-shadow: 1px 2px 2px black;
	height: 1em;
	font-size: 5em;
	padding: 0.8em 0 1.4em 0;
}


.brown-back-menu {
	background-color: #E6B797;
	font-weight: bold;
	}

.text-btndrop-rodents {
	color: white;
}

.text-btndrop-rodents:hover {
	color:#BC7D3A;
}

.card-title-rodents {
	padding-top: 18%;
	font-size: calc(1rem + 4vw);
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px black;
	opacity: 0.8;

}
.link-cat-rodents:hover {
	color: #BC7D3A !important;
}


/* CAT-REPTILES */

.text-cat-rep {
	color:  #A5CE00;
	text-shadow: 1px 2px 2px black;
	height: 1em;
	font-size: 5em;
	padding: 0.8em 0 1.4em 0;
}


.blue-back-menu {
	color: #F48D33;
	opacity: 0.8;
}

.card-title-rep {
	padding-top: 18%;
	font-size: calc(1rem + 4vw);
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 2px black;
	opacity: 0.8;

}
.link-cat-rep:hover {
	color: #F48D33 !important;
}



/* CAT DOG*/
.text-dog {
	color: #BC7D3A;
	text-shadow: 1px 2px 2px black;
	height: 1em;
	font-size: 5em;
	padding: 0.8em 0 1.4em 0;
}

#footer-dog {
	margin-top: 8em;
}

.green-back-menu {
	background-color: #A5CE00;
	opacity: 0.8;
}


.dogSkate{
	width: 20%;
	
}


/*parallax*/
#about-us{
	background: url(assets/img/about_us2.jpg);
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.text-black {
opacity:0.8;
}

.card-title{
	font-size: 2em;

	opacity: 0.8;
}






/*animation fishes*/
.imgalgues {
	position: absolute;
	z-index: 1;

}

.imgpoisson {
	position: absolute;
	z-index: 10;

}

.imgbulles {
	position: absolute;
	z-index: 133;
	width: 40%;
}

/* animation chat */

.dim {
    width: 100%;
    height: 250px;
    background-color: white;
}

#myCat {
    z-index: 50;
    width: 100%;  
}

.card {
    border: none;
}


.container {
    overflow: hidden;   
}

/* animation lapin */

.tail {
    z-index: 75;
}

.rabbit {
    z-index: 45;
}

.lapin {
    position : absolute
}

